<h1 class="ui center aligned header">Create <%= @category.name %></h1>

<%= form_for [@category, @recipe], url: {action: "create"} do |f| %>
	Recipes: <br>
	Name: <%= f.text_field :name %> <br>
	Difficulty <%= f.select :difficulty, options_for_select( [["Easy", "easy"], ["Medium", "medium"], ["Hard", "hard"]] ) %> <br>
	Prep Time (minutes) <%= f.number_field :prep_time %> <br>
	Directions <%= f.text_area :directions %> <br>
	Creator <%= f.text_field :creator %> <br>
	<%= f.submit %>
<% end %>

<% if @recipe.errors.any? %>
<%= @recipe.errors.messages %>
<% end %>
