<h1 class="ui center aligned header"><%= @recipe.name %></h1>
<div class="ui center aligned list">
  <div class="item"><%= @recipe.difficulty %></div>
   <div class="item"><%= @recipe.prep_time %> minutes</div>
   <div class="item"><%= @recipe.directions %></div>
   <div class="item"><%= @recipe.creator %></div>
  </div>
</div>

<ul>
  <% for ingredient in @ingredients %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><%= link_to "Add new Ingredient", new_category_recipe_ingredient_path(@category, @recipe, @ingredient) %></p>

<p><%= link_to "Edit", edit_category_recipe_path(@category, @recipe) %></p>
<p><%= link_to "Delete", category_recipe_path(@category, @recipe), method: :delete, data: {confirm: 'Are you sure?'} %></p>

