<%= image_tag    'cover', media: 'all' %>

<h1 class="ui center aligned header">Menu for Mikey's Fancy Restaurant:</h1>

<div class="ui container center aligned">
  <div class="ui big celled list">
    <% @categories.each do |category| %>
    <p>
      <h2>
        <%= category.name %>s:
      </h2>
      <% category.recipes.order(average: :desc).first(5).each do |recipe| %>
        <div class="item">
          <div class="header"><%= link_to "#{recipe.name}", category_recipe_path(category, recipe) %></div>
          <div class="sub header">Recipe by: <%= recipe.creator %></div>
        </div>
        <p>
          <%= truncate(recipe.directions, length: 60) %>
        </p>
        <p>
          <%= pluralize(recipe.ingredients.length, 'ingredient') %>
        </p>
      <% end %>

    </p>
    <% end %>
  </div>
</div>
