<h1 class="ui center aligned header"><%= @category.name.pluralize %></h1>

<button class="ui fluid button"><%= link_to "Create a new #{@category.name.downcase}", new_category_recipe_path(@category) %></button>
<br>

<div class="ui container center aligned">
  <div class="ui big celled list">
  <% @recipes.each do |recipe| %>
    <div class="item">
      <div class="header"><%= link_to "#{recipe.name}", category_recipe_path(@category, recipe) %></div>
      <div class="sub header">Recipe by: <%= recipe.creator %></div>
    </div>
    <p>
      <%= truncate(recipe.directions, length: 60) %>
    </p>
    <p>
      <%= pluralize(recipe.ingredients.length, 'ingredient') %>
    </p>
  <% end %>
  </div>
</div>