<!DOCTYPE html>
<html>
  <head>
    <title>Mikeys Fancy Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'semantic.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="ui menu">
    <div>
     <%= link_to "Mikey's Fancy Restaurant", '/', class: "item" %>
    </div>
    <div class="ui search item">
      <div class="ui transparent fluid icon input">
        <input class="prompt" type="text" name="Search" placeholder="Search recipes by keyword...">
        <i class="search link icon"></i>
      </div>
    </div>
      <% categories_list.each do |category| %>
        <%= link_to "#{category.name}", category_path(category), class: "item" %>
      <% end %>
     <% if current_user %>
       <div class="right menu">
          <%= link_to "#{current_user.name}", profile_path, class: "item" %>
          <%= link_to "Logout", '/logout',  class: "item" %>
        </div>
      <% else %>
        <div class="right menu">
          <%= link_to 'Login', '/login', class: "item" %>
          <%= link_to 'Signup', '/signup', class: "item" %>
        </div>
      <% end %>
  </div>
    <%= yield %>
  </body>
</html>
