<!DOCTYPE html>
<html>
  <head>
    <title>Mikeys Fancy Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'semantic.min', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

   <nav class="ui menu">

    <div>
     <%= link_to "Mikey's Fancy Restaurant", '/', class: "item red" %>
    </div>
<!--     <div class="ui search item">
      <div class="ui transparent fluid icon input">
        <input class="prompt" type="text" name="Search" placeholder="Search recipes by keyword...">
        <i class="search icon"></i>
      </div>
    </div> -->
      <% categories_list.each do |category| %>
        <%= link_to "#{category.name}", category_path(category), class: "item" %>
      <% end %>
       <div class="right menu">

         <div class="ui right category search">
           <div class="ui icon input">
             <%= form_tag(category_recipes_path(category_id: 1), :method => "get", id: "search-form") do %> <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %> <%= submit_tag "Search", :name => nil %> <% end %>
             <!-- <i class="search icon"></i> -->
           </div>
           <div class="results"></div>
         </div>
         <% if current_user %>
          <%= link_to "#{current_user.name}", '/profile', class: "item" %>
          <%= link_to "Logout", '/logout',  class: "item" %>
          <% else %>

          <%= link_to 'Login', '/login', class: "item" %>
          <%= link_to 'Signup', '/signup', class: "item" %>
        </div>
      <% end %>
    </nav>
    <div class="ui container">
      <div class="ui grid">
        <div class="three column row">
          <div class="three wide column"></div>
          <div class="ten wide column">
            <%= yield %>
          </div>
          <div class="three wide column"></div>
        </div>
      </div>
    </div>
  </body>
</html>
